# Python
__pycache__/
*.pyc
*.pyo
*.db
.env
venv/
.venv/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/*.g.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
